/*  Body */

body {
    margin: 0;
    font-family: "inconsolata", "Helvetica", sans-serif;
    font-size: 1.4em;
    color: #4f4f4f;
}
body a {
    text-decoration: none;
    color: #333;
    transition: color .2s; 
}
body a:hover {
    color: rgb(158, 158, 158);
}

/* Heading Styles */

h1 {
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: #333;
    line-height: 0.5em;
}

h2 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #949494;
    line-height: 0.5em;
}

/*  Section class styles */

.header {
    padding: 20px 0 30px 50px;
}

.list {
    background: #F5F7F7;
    padding: 20px 0 20px 0;
    
}

/* Form styles */

.hiddenTasks {
    margin-left: 50px;
    padding-top: 30px;
}

.addItem {
    margin-left: 50px;
    padding-top: 30px;
}

.filterButton {
    padding: .5em 0em;
    background: none;
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: .8em;
    transition: color .2s;
    color: #333;
    border: none;
}
.filterButton:hover {
    color: rgb(161, 161, 161);
    cursor: pointer;
}

.addButton {
    margin-bottom: 50px;
    display: inline-block;
    padding: .5em 2em;
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: .6em;
    background-color: #2F80ED;
    transition: background-color .2s;
    color: #fff;
    border-radius: 6px;
}
.addButton:hover {
    background-color: rgb(104, 165, 245);
    cursor: pointer;
}


#item { 
    padding: .5em;
}


/* To Do List styles */

#toDoList {
    line-height: 2em;
}

#toDoList li {
    display: block;
    border-radius: 6px;
    padding: 20px 0 20px 20px;
    margin-bottom: 10px;
    margin-right: 2em;
    background-color: #fff;
    transition: opacity .2s;
}

#toDoList li:hover {
    opacity: 0.7;
}

.complete {
    display: block;
    border-left: 10px solid #2F80ED;  
    text-decoration: line-through;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
}